<h1>Home</h1>


<%= form_tag(import_csv_path, multipart: true) do %>
    <%= file_field_tag :csv_file %>
    <%= submit_tag 'Upload CSV' %>
  <% end %>

  <button id="exportButton">Export Database as CSV</button>


  <script>
  document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('exportButton').addEventListener('click', function() {
      # Redirect to the export_csv route to trigger CSV export
      window.location.href = '/export_csv';
    });
  });
</script>